
  <mat-card class="ceremony-info font-s comp-background text-color">
    <mat-card-title class="font-s text-center text-bolt">Lugar de la Celebracion</mat-card-title>
    <mat-card-content  class="font-s">
      <p class="text-center">
        La celebracion tendra lugar en el restaurante <span class="text-bolt"> Villa Laureana </span>
        <a href="https://g.page/villalaureana?share" class="info-link"  target="_blank">(Carr. de Burgos, Km 23, 100, 28709 Madrid)</a>
         el proximo <span class="text-bolt"> Viernes dia 4 de Septiembre del 2020 apartir las 20.00.</span>
      </p>
      <div #mapContainer id="map" class="map"></div>
    </mat-card-content>
  </mat-card>
