:root{
  font-family: 'Dancing Script';

}
*{
  margin: 0;
  padding: 0;
  align-content: center;
  background-image: url("../assets/resources/bodaJorgeYNat.jpeg");

}
.main{
  height: 90vh;
  width: 90vw;
  background-size: cover;
  color: palegoldenrod;
}


