

  <mat-card class="ceremony-info font-s comp-background text-color">
    <mat-card-title class="font-l text-center text-bolt">Fecha y lugar de la Ceremonia</mat-card-title>
    <mat-card-content  class="font-s">
      <p class="text-center">
        La cerenomia tendra lugar en Madrid en la iglesa<span class="text-bolt"> Jerónimo el Real </span>
        <a href="https://goo.gl/maps/xyBN4pmjhKELJUfJ8" class="info-link"  target="_blank">(C/ de Moreto, 4)</a>
        <a href="https://goo.gl/maps/xyBN4pmjhKELJUfJ8" class="info-link"  target="_blank">(C/ de Moreto, 4)</a>
         el proximo <span class="text-bolt"> Viernes dia 4 de Septiembre del 2020 a las 18.00.</span>
      </p>
      <div #mapContainer id="map" class="map"></div>
    </mat-card-content>
  </mat-card>

