
.form-container{
  padding-top: 1vh;
  padding-bottom: 2vh;
}
mat-form-field{
  padding: 10px;
  input{
    padding: 10px;
    font-weight: bold;
    font-family: 'Indie Flower';
    font-size: 1.5rem;
  }
}
mat-radio-button {
  padding: 10px;
}
.container-submit-button{
  margin-top: 3vh;
  margin-bottom: 3vh;
  width: 100%;
  button{
    background-color: #014685;
    padding: 5px;
    color: white;
  }
}

