
*{
  display: flex;
}
.form{
  display: flex;
  flex: auto;
  margin: auto;


  input[type=text], select {
    max-width: 25%;
    padding: 1%;
    margin: 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .field{

  }

  .submit-button{
    max-width: 25%;
    padding: 1%;
    margin: 1%;
    border: 1px solid #ccc;
    border-radius: 4px
  }
}

