/* You can add global styles to this file, and also import other style files */
html,
body {
	height: 100%;
}
body {
	margin: 0;
  font-family: 'Dancing Script';
  background-image: url("./assets/resources/bodaJorgeYNat.jpeg");
  background-size: cover;
  background-color: palegoldenrod;
  // color: palegoldenrod;
  margin: 5%;
}
