
$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #014685;
$color-cards:rgba(214, 201, 199, 0.9);
$color-text: #1a315e;

/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
  font-family: 'Dancing Script';
  background-image: url("./assets/resources/bodaJorgeYNat.jpeg");
  background-size: cover;
  background-color: palegoldenrod;
  margin: 5%;
}
.info-link{
  color: $color-blue;
}
.font-s{
  font-size: 1.5rem;
  font-family: 'Dancing Script';
}
.text-bolt{
  font-weight: bold;
}
.text-center{
  text-align: center;
}
.mg-t{
  margin-top: 2%;
}
.cp-bkg{
  border-radius: 1;
  background-color: transparent;
}
.text-color{
  color: $color-text;
}
.comp-background{
  background-color: rgba(214, 201, 199, 0.7);
}
.map {
  height: 30vh;
  width: 100%;
 }
